<%- include('Sharing/top.ejs')%>
<br>
<br>
<br>
<br>

<br>

<div class="container">
<div class="row">
  <div class="col">
    <img src="/uploads/<%= http://localhost:3000 book.image %>" alt="">
  </div>
  <div class="col">
    <h1><%= book.title %></h1><h4><%= book.author %></h4>

    <span><%= book.title %></span>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore dignissimos distinctio sequi asperiores illo iure reiciendis, optio vero voluptas hic? Debitis, nam eum! Doloremque, vero qui cupiditate quae dolorum velit.</p>
  </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include('Sharing/bottom.ejs')%>
